---
import { getCollection } from "astro:content";
import Card from "./Card/Card.astro";
import CardTitle from "./Card/Card.Title.astro";
import CardContent from "./Card/Card.Content.astro";
import CardPrimaryLink from "./Card/Card.PrimaryLink.astro";
import CardSecondaryLink from "./Card/Card.SecondaryLink.astro";
import SectionHeadline from "./SectionHeadline.astro";

const projects = await getCollection("projects");
---

<section>
  <SectionHeadline>Recent Projects</SectionHeadline>
  <ul class="grid gap-4 mt-8 lg:grid-cols-2 xl:gap-6">
    {
      projects.map(({ data }) => (
        <Card>
          <CardTitle>{data.title}</CardTitle>
          <CardContent>{data.description}</CardContent>
          {data.designerName && (
            <CardSecondaryLink
              title="Design:"
              slot="links"
              href={data.designerLink}
            >
              <span slot="label">Design:</span>
              {data.designerName}
            </CardSecondaryLink>
          )}
          <CardPrimaryLink href={data.href} slot="links">
            Go to Project
          </CardPrimaryLink>
        </Card>
      ))
    }
  </ul>
</section>
